body {
  margin: 0;
}

svg {
  display: block;
  margin: auto;
}

.orbital {
  stroke: gray;
  stroke-width: 0.5px;
  fill: none;
}

.block {
  stroke: black;
  stroke-width: 0.5px;
  fill: gray;
}

.link {
  stroke: gray;
  stroke-width: 0.5px;
  fill: none;
}

/* Gen specific */
/* TODO this seems hacky... */
.generation[data-generation='1'] .block {
  fill: red;
}
.generation[data-generation='2'] .block {
  fill: orange;
}
.generation[data-generation='3'] .block {
  fill: yellow;
}
.generation[data-generation='4'] .block {
  fill: green;
}
.generation[data-generation='5'] .block {
  fill: blue;
}
.generation[data-generation='6'] .block {
  fill: violet;
}
