body {
  margin: 0;
}

svg {
  display: block;
  margin: auto;
}

.orbital {
  stroke: LightSlateGray;
  stroke-width: 0.5px;
  fill: none;
}

.block {
  stroke: black;
  stroke-width: 0.5px;
  fill: gray;
  transition: stroke-width 0.2s;
}

.mino {
  transition: transform 0.2s;
}

.mino.isFocused {
  transform: scale(1.1);
}

.link {
  stroke: LightSteelBlue;
  stroke-width: 0.5px;
  stroke-opacity: 0.5;
  fill: none;
  transition: stroke 0.2s, stroke-opacity 0.2s;
}

.link.isFocused {
  stroke-width: 1px;
  stroke-opacity: 1;
}

/* Gen specific */
/* TODO this seems hacky... */
.generation[data-generation='1'] .block {
  fill: Tomato;
}
.generation[data-generation='2'] .block {
  fill: DarkOrange;
}
.generation[data-generation='3'] .block {
  fill: Gold;
}
.generation[data-generation='4'] .block {
  fill: LightGreen;
}
.generation[data-generation='5'] .block {
  fill: LightSkyBlue;
}
.generation[data-generation='6'] .block {
  fill: Plum;
}

.link[data-generation='1'].isFocused {
  stroke: OrangeRed;
}
.link[data-generation='2'].isFocused {
  stroke: GoldenRod;
}
.link[data-generation='3'].isFocused {
  stroke: YellowGreen;
}
.link[data-generation='4'].isFocused {
  stroke: Turquoise;
}
.link[data-generation='5'].isFocused {
  stroke: SlateBlue;
}
